<body>
    <div class="container">
        <h1>VENTAS</h1>
        <div class="search-bar">
            <input type="date" id="fechaInicio" name="fechaInicio">
            <input type="date" id="fechaFin" name="fechaFin">
            
            <button onclick="buscarPorFechas()">Buscar</button>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th>CODIGO</th>
                    <th>Fecha</th>
                    <th>Producto</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Precio Subtotal</th>
                    <th>Precio total</th>
                    <th>Metodo Pago</th>
                </tr>
            </thead>

        </table>
    </div>
  </body>