<body>
    <div class="container">
        <h1>TIPOS</h1>
        <button mat-raised-button (click)="openDialog()" class="new-button">Nuevo Tipo </button>
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipo of tiposList">
                    <td>{{tipo.idTipo }}</td>
                    <td>{{ tipo.nombreTipo }}</td>   
                    <td>{{ tipo.detalleTipo }}</td>        
     
                    <td>
                        <div class="icon-buttons">
                            <button (click)="editItem(tipo)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button (click)="deleteItem(tipo)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>