<body>
    <div class="container">

        <!-- Contenedor de Categoría -->
        <a class="option" [routerLink]="['/home/categoria']">
        <div class="contenedor1"  >
            <i class="fas fa-pills" alt="Categoría de Medicamentos"></i>
            <p>CATEGORÍAS</p>
        </div>
        </a>
      
        <!-- Contenedor de Ubicación -->
        <a class="option" [routerLink]="['/home/ubicacion']">
        <div class="contenedor2">
            <i class="fas fa-map-marker-alt" alt="Ubicación de Medicamento"></i>
            <p>UBICACIÓN</p>
        </div>    
    </a>

        <!-- Contenedor de Tipo -->
        <a class="option" [routerLink]="['/home/tipo']">
        <div class="contenedor3">
            <i class="fas fa-box-open" alt="Tipo de Producto"></i>
            <p>TIPOS</p>
        </div>
    </a>


    </div>
</body>