<body>
    <div class="container">
        <h1>Categorias</h1>
        <button mat-raised-button (click)="openDialog()" class="new-button">Nueva Categoria</button>
        <div class="search-bar">
            <input type="text" placeholder="Buscar...">
        </div>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let categoria of categoriasList">
                    <td>{{ categoria.idCategoria }}</td>
                    <td>{{ categoria.nombreCategoria }}</td>  
                    <td>{{ categoria.detalleCategoria }}</td>  

                    <td>
                        <div class="icon-buttons">
                            <button (click)="editItem(categoria)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button (click)="deleteItem(categoria)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>